{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Saul Arias Durán</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cumque aperiam fugiat quo, laboriosam sapiente maiores aliquid rerum, laudantium, unde iusto voluptate a laborum illo odio quaerat delectus debitis ipsum.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/147752-death-Game_of_Thrones-white_walkers.jpg" class="img-thumbnail " alt="">
    </div>
</div>

{{> footer }}